.head-1 {
    color: rgb(14, 15, 15);
    background-color: rgb(253, 247, 247);
    font-style: italic;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width: fit-content; */
    padding: 10px;

  text-align: center;

}

.head-2 {
    color: rgb(6, 5, 5);
    background-color: rgb(247, 245, 245);
    font-style: italic;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width: fit-content; */
}
.head2{text-align: center;}

.pic1{
    text-align: center;
}

.content{
    padding: 20 100px;
}
.content2{ 
    padding: 0 100p;
}

 *  {
    margin: 0;
    padding: 0
} 
.navbar{
    background-color: aliceblue;
padding:20px;
display:flex;
justify-content: space-between;
}
.menu
{display: flex;
gap: 20px;
align-items: center;} 